{% extends "base.html.twig" %}

{% block title %}Saison | {{saison}}{% endblock %}

{% block saison %}
    <h2 class="text-center"> {{message}}</h2>
{% endblock %}

{% block bg %}
    class="container col-10 {{saison}}"
{% endblock %}

{% block image %}{{image}}{% endblock %}

{% block comment %}
    {{comment}}
{% endblock %}
